#image{
  width: 400px;
}
#result_div{
  border-radius: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  box-shadow: 5px 5px 5px black;
  width: 70%;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 250px;
  padding: 25px;
 background-color: gray;
}
.copy_right_footer{
background-color: black;
width: 100%;
padding: 5px;
bottom:0;
color: white;
position: fixed;
text-align: center;
}

h5{
  float: right;
  top: 0px;
   padding: 25px;
   background-color: white;
  width: fit-content;
   border-width:2px;
   border-style: solid;
   border-color: yellow;
   border-radius: 10px;
   margin-right: 25px;
}
